body {
   font-family: 'Ubuntu Mono', monospace;
    				height: 100vh;
    				text-align: center;
    				font-size: 14px;
    				margin: auto;
            overflow: scroll;
            
                    }
                    body::selection {
                        background-color: rgb(0, 0, 0);
                        color: #ffffff;
                        }
    .menu {
    				display: none;
                
    				}
   .hide {
   				display: none;
               transition: 100ms ease;
   				}
   		a {
   						text-decoration: none;
   						color: #fff;
   						background-color: black;
   						padding: 5px 20px;
   						border-radius: 0px;
   						transition: 100ms linear;
   						}
   			a:hover {
   							
   							color: black;
   							background-color: transparent;
   							border: 1px solid black;
   							
   							}
   				.content {
  
  
  width: 100%;
  height: 60%;
  
  position: absolute;
  top: 30%;

}
::selection {
    background: #000000; /* WebKit/Blink Browsers */
    color: white;
    
}
::-moz-selection {
    background: #000000; /* Gecko Browsers */
    color: white;
}

footer {
   text-align: center;
   position: absolute;
   top: 100%;
   width: 100%;
   
   }
   
.year {
   font-size: 100px;
   line-height: 1px;
   
}
.yea {
   line-height: 1em;
   user-select: none;

}
.cd {
   font-size: 3em;
   top: 10%;
}


a {
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  .dark-mode {
      
        background: black;
        filter: invert(1); /* This will flip the contents on the page, from black to its inverted color*/
 }
    
  
 @media screen and (min-width: 601px) {
    .content {
      font-size: 20px;
    }
    .particle-js {
      height: 1280px;
      position: fixed;
      z-index: -1;
   }
}

.particle-js {
   height: 100%;
   position: fixed;
   z-index: -1;
}
.darkmode-layer, .darkmode-toggle {
   z-index: 500;
 }
 .particle-canvas{
   height: 100vh !important;
   }
a.ig-footer {
   font-size: 10px;
   color: black;
   background: transparent;
   border: 0px solid black;
   border-radius: 0;
   text-decoration: none;
   padding: 5px 30px;
   transition: 140ms ease;
}
a.ig-footer:hover {
   padding: 5px 40px;
   border: 1px solid black;
   transition: 140ms ease;
   }


.darkmode--activated p, .darkmode--activated li {
   color: #000;
   }
   body.darkmode--activated iframe, body.darkmode--activated .darkmode-ignore {
    mix-blend-mode: difference;
   }
   #iframe {
    isolation: isolate;
   }
   .darkmode-layer, .darkmode-toggle {
    z-index: 1000;
   }
#noselect {
   user-select: none;
}
#wm {
   mix-blend-mode: difference;
   
}